USE [master]
GO
/****** Object:  Database [VolunteerCommunity]    Script Date: 24.06.2026 16:49:42 ******/
CREATE DATABASE [VolunteerCommunity]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'VolunteerCommunity', FILENAME = N'C:\Users\user\VolunteerCommunity.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'VolunteerCommunity_log', FILENAME = N'C:\Users\user\VolunteerCommunity_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [VolunteerCommunity].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [VolunteerCommunity]
GO
/****** Object:  Table [dbo].[ActivityLog]    Script Date: 24.06.2026 16:49:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ActivityLog](
	[LogID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[EventID] [int] NULL,
	[ActionType] [nvarchar](50) NOT NULL,
	[ActionDate] [datetime] NOT NULL,
	[Details] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[LogID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 24.06.2026 16:49:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[CategoryID] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EventMaterials]    Script Date: 24.06.2026 16:49:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EventMaterials](
	[MaterialID] [int] IDENTITY(1,1) NOT NULL,
	[EventID] [int] NOT NULL,
	[UserID] [int] NOT NULL,
	[MaterialType] [nvarchar](20) NOT NULL,
	[TextContent] [nvarchar](max) NULL,
	[FilePath] [nvarchar](200) NULL,
	[OriginalName] [nvarchar](200) NULL,
	[CreatedAt] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaterialID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EventOutcomeFiles]    Script Date: 24.06.2026 16:49:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EventOutcomeFiles](
	[FileID] [int] IDENTITY(1,1) NOT NULL,
	[OutcomeID] [int] NOT NULL,
	[MaterialType] [nvarchar](20) NOT NULL,
	[FilePath] [nvarchar](500) NOT NULL,
	[OriginalName] [nvarchar](255) NULL,
	[CreatedAt] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[FileID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EventOutcomes]    Script Date: 24.06.2026 16:49:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EventOutcomes](
	[OutcomeID] [int] IDENTITY(1,1) NOT NULL,
	[EventID] [int] NOT NULL,
	[BodyText] [nvarchar](max) NULL,
	[SubmittedAt] [datetime] NOT NULL,
	[UpdatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[OutcomeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Events]    Script Date: 24.06.2026 16:49:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Events](
	[EventID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](200) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[CategoryID] [int] NULL,
	[CreatorUserID] [int] NOT NULL,
	[EventDate] [datetime] NOT NULL,
	[Location] [nvarchar](200) NOT NULL,
	[MaxParticipants] [int] NULL,
	[CreatedAt] [datetime] NOT NULL,
	[IsPublished] [bit] NOT NULL,
	[ModerationStatus] [nvarchar](20) NOT NULL,
	[RejectionReason] [nvarchar](max) NULL,
	[IsPriority] [bit] NOT NULL,
	[CoverImagePath] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[EventID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[News]    Script Date: 24.06.2026 16:49:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[News](
	[NewsID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](200) NOT NULL,
	[Summary] [nvarchar](200) NULL,
	[BodyHtml] [nvarchar](max) NOT NULL,
	[RelatedEventID] [int] NULL,
	[IsPublished] [bit] NOT NULL,
	[PublishedAt] [datetime] NULL,
	[AuthorUserID] [int] NULL,
	[CreatedAt] [datetime] NOT NULL,
	[CategoryID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[NewsID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NewsImages]    Script Date: 24.06.2026 16:49:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NewsImages](
	[ImageID] [int] IDENTITY(1,1) NOT NULL,
	[NewsID] [int] NOT NULL,
	[FilePath] [nvarchar](200) NOT NULL,
	[SortOrder] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ImageID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Registrations]    Script Date: 24.06.2026 16:49:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Registrations](
	[RegistrationID] [int] IDENTITY(1,1) NOT NULL,
	[EventID] [int] NOT NULL,
	[UserID] [int] NOT NULL,
	[RegisteredAt] [datetime] NOT NULL,
	[Status] [nvarchar](20) NOT NULL,
	[ReminderSent] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RegistrationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 24.06.2026 16:49:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[PasswordHash] [nvarchar](200) NOT NULL,
	[FullName] [nvarchar](150) NOT NULL,
	[Phone] [nvarchar](20) NULL,
	[BirthDate] [date] NULL,
	[AvatarPath] [nvarchar](200) NULL,
	[Role] [nvarchar](20) NOT NULL,
	[RegisteredAt] [datetime] NOT NULL,
	[IsActive] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ActivityLog] ON 

INSERT [dbo].[ActivityLog] ([LogID], [UserID], [EventID], [ActionType], [ActionDate], [Details]) VALUES (16, 6, 19, N'create_event', CAST(N'2026-05-08T14:57:57.907' AS DateTime), NULL)
INSERT [dbo].[ActivityLog] ([LogID], [UserID], [EventID], [ActionType], [ActionDate], [Details]) VALUES (36, 7, 19, N'register', CAST(N'2026-05-08T16:04:56.963' AS DateTime), NULL)
INSERT [dbo].[ActivityLog] ([LogID], [UserID], [EventID], [ActionType], [ActionDate], [Details]) VALUES (41, 1, NULL, N'create_event', CAST(N'2026-06-02T11:01:53.140' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[ActivityLog] OFF
GO
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([CategoryID], [CategoryName], [Description]) VALUES (1, N'Помощь животным', N'Мероприятия в приютах и помощь бездомным животным')
INSERT [dbo].[Categories] ([CategoryID], [CategoryName], [Description]) VALUES (3, N'Помощь пожилым', N'Шефская помощь и социальная поддержка')
INSERT [dbo].[Categories] ([CategoryID], [CategoryName], [Description]) VALUES (4, N'Образование', N'Обучение и мастер-классы для детей и взрослых')
SET IDENTITY_INSERT [dbo].[Categories] OFF
GO
SET IDENTITY_INSERT [dbo].[EventOutcomeFiles] ON 

INSERT [dbo].[EventOutcomeFiles] ([FileID], [OutcomeID], [MaterialType], [FilePath], [OriginalName], [CreatedAt]) VALUES (6, 7, N'image', N'assets/uploads/event_outcomes/out_ev65_84fc9df83b6ecb6c.jpg', N'v-ramkax-akcii-teplota-nashix-serdec-sobran-korm-dlya-bezdomnyx-zhivotnyx1.jpg', CAST(N'2026-06-11T00:48:08.760' AS DateTime))
SET IDENTITY_INSERT [dbo].[EventOutcomeFiles] OFF
GO
SET IDENTITY_INSERT [dbo].[EventOutcomes] ON 

INSERT [dbo].[EventOutcomes] ([OutcomeID], [EventID], [BodyText], [SubmittedAt], [UpdatedAt]) VALUES (7, 65, N'Изучили новые термины и прошлись по всем разделам книги...', CAST(N'2026-06-11T00:48:08.760' AS DateTime), CAST(N'2026-06-11T00:48:08.763' AS DateTime))
SET IDENTITY_INSERT [dbo].[EventOutcomes] OFF
GO
SET IDENTITY_INSERT [dbo].[Events] ON 

SET IDENTITY_INSERT [dbo].[Events] OFF
GO
SET IDENTITY_INSERT [dbo].[News] ON 

SET IDENTITY_INSERT [dbo].[News] OFF
GO
SET IDENTITY_INSERT [dbo].[NewsImages] ON 

INSERT [dbo].[NewsImages] ([ImageID], [NewsID], [FilePath], [SortOrder]) VALUES (19, 35, N'assets/images/news/relay-brsm.jpg', 0)
INSERT [dbo].[NewsImages] ([ImageID], [NewsID], [FilePath], [SortOrder]) VALUES (20, 36, N'assets/images/news/online-camp.jpg', 0)
INSERT [dbo].[NewsImages] ([ImageID], [NewsID], [FilePath], [SortOrder]) VALUES (21, 37, N'assets/images/news/seven-steps.jpg', 0)
SET IDENTITY_INSERT [dbo].[NewsImages] OFF
GO
SET IDENTITY_INSERT [dbo].[Registrations] ON 

INSERT [dbo].[Registrations] ([RegistrationID], [EventID], [UserID], [RegisteredAt], [Status], [ReminderSent]) VALUES (16, 19, 7, CAST(N'2026-05-08T16:04:56.963' AS DateTime), N'confirmed', 0)
INSERT [dbo].[Registrations] ([RegistrationID], [EventID], [UserID], [RegisteredAt], [Status], [ReminderSent]) VALUES (23, 53, 5, CAST(N'2026-06-10T14:51:54.330' AS DateTime), N'cancelled', 0)
INSERT [dbo].[Registrations] ([RegistrationID], [EventID], [UserID], [RegisteredAt], [Status], [ReminderSent]) VALUES (24, 47, 5, CAST(N'2026-06-10T14:51:45.730' AS DateTime), N'confirmed', 0)
SET IDENTITY_INSERT [dbo].[Registrations] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserID], [Email], [PasswordHash], [FullName], [Phone], [BirthDate], [AvatarPath], [Role], [RegisteredAt], [IsActive]) VALUES (1, N'admin@test.by', N'$2y$10$92IXUNpkjO0rOQ5byMi.Ye4oKoEa3Ro9llC/.og/at2.uheWG/igi', N'Администратор Системы', N'+375291234567', NULL, NULL, N'admin', CAST(N'2026-04-20T17:45:51.060' AS DateTime), 1)
INSERT [dbo].[Users] ([UserID], [Email], [PasswordHash], [FullName], [Phone], [BirthDate], [AvatarPath], [Role], [RegisteredAt], [IsActive]) VALUES (2, N'user@test.by', N'$2y$10$92IXUNpkjO0rOQ5byMi.Ye4oKoEa3Ro9llC/.og/at2.uheWG/igi', N'Иван Петров', N'+375337654321', NULL, NULL, N'user', CAST(N'2026-04-20T17:45:51.060' AS DateTime), 1)
INSERT [dbo].[Users] ([UserID], [Email], [PasswordHash], [FullName], [Phone], [BirthDate], [AvatarPath], [Role], [RegisteredAt], [IsActive]) VALUES (3, N'anna@test.by', N'$2y$10$92IXUNpkjO0rOQ5byMi.Ye4oKoEa3Ro9llC/.og/at2.uheWG/igi', N'Анна Смирнова', N'+375447778899', NULL, NULL, N'user', CAST(N'2026-04-20T17:45:51.060' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Categori__8517B2E0A2A888E3]    Script Date: 24.06.2026 16:49:42 ******/
ALTER TABLE [dbo].[Categories] ADD UNIQUE NONCLUSTERED 
(
	[CategoryName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_EventOutcomes_Event]    Script Date: 24.06.2026 16:49:42 ******/
ALTER TABLE [dbo].[EventOutcomes] ADD  CONSTRAINT [UQ_EventOutcomes_Event] UNIQUE NONCLUSTERED 
(
	[EventID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_EventUser]    Script Date: 24.06.2026 16:49:42 ******/
ALTER TABLE [dbo].[Registrations] ADD  CONSTRAINT [UQ_EventUser] UNIQUE NONCLUSTERED 
(
	[EventID] ASC,
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__A9D105344E3D6D52]    Script Date: 24.06.2026 16:49:42 ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ActivityLog] ADD  CONSTRAINT [DF_ActivityLog_ActionDate]  DEFAULT (getdate()) FOR [ActionDate]
GO
ALTER TABLE [dbo].[EventMaterials] ADD  CONSTRAINT [DF_EventMaterials_CreatedAt]  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[EventOutcomeFiles] ADD  CONSTRAINT [DF_EventOutcomeFiles_CreatedAt]  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[EventOutcomes] ADD  CONSTRAINT [DF_EventOutcomes_SubmittedAt]  DEFAULT (getdate()) FOR [SubmittedAt]
GO
ALTER TABLE [dbo].[Events] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Events] ADD  DEFAULT ((1)) FOR [IsPublished]
GO
ALTER TABLE [dbo].[Events] ADD  CONSTRAINT [DF_Events_ModerationStatus]  DEFAULT (N'approved') FOR [ModerationStatus]
GO
ALTER TABLE [dbo].[Events] ADD  CONSTRAINT [DF_Events_IsPriority]  DEFAULT ((0)) FOR [IsPriority]
GO
ALTER TABLE [dbo].[News] ADD  CONSTRAINT [DF_News_IsPublished]  DEFAULT ((0)) FOR [IsPublished]
GO
ALTER TABLE [dbo].[News] ADD  CONSTRAINT [DF_News_CreatedAt]  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[NewsImages] ADD  CONSTRAINT [DF_NewsImages_Sort]  DEFAULT ((0)) FOR [SortOrder]
GO
ALTER TABLE [dbo].[Registrations] ADD  DEFAULT (getdate()) FOR [RegisteredAt]
GO
ALTER TABLE [dbo].[Registrations] ADD  DEFAULT ('confirmed') FOR [Status]
GO
ALTER TABLE [dbo].[Registrations] ADD  CONSTRAINT [DF_Registrations_ReminderSent]  DEFAULT ((0)) FOR [ReminderSent]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ('user') FOR [Role]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (getdate()) FOR [RegisteredAt]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[ActivityLog]  WITH CHECK ADD  CONSTRAINT [FK_ActivityLog_Events] FOREIGN KEY([EventID])
REFERENCES [dbo].[Events] ([EventID])
GO
ALTER TABLE [dbo].[ActivityLog] CHECK CONSTRAINT [FK_ActivityLog_Events]
GO
ALTER TABLE [dbo].[ActivityLog]  WITH CHECK ADD  CONSTRAINT [FK_ActivityLog_Users] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[ActivityLog] CHECK CONSTRAINT [FK_ActivityLog_Users]
GO
ALTER TABLE [dbo].[EventMaterials]  WITH CHECK ADD  CONSTRAINT [FK_EventMaterials_Event] FOREIGN KEY([EventID])
REFERENCES [dbo].[Events] ([EventID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[EventMaterials] CHECK CONSTRAINT [FK_EventMaterials_Event]
GO
ALTER TABLE [dbo].[EventMaterials]  WITH CHECK ADD  CONSTRAINT [FK_EventMaterials_User] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[EventMaterials] CHECK CONSTRAINT [FK_EventMaterials_User]
GO
ALTER TABLE [dbo].[EventOutcomeFiles]  WITH CHECK ADD  CONSTRAINT [FK_EventOutcomeFiles_Outcome] FOREIGN KEY([OutcomeID])
REFERENCES [dbo].[EventOutcomes] ([OutcomeID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[EventOutcomeFiles] CHECK CONSTRAINT [FK_EventOutcomeFiles_Outcome]
GO
ALTER TABLE [dbo].[EventOutcomes]  WITH CHECK ADD  CONSTRAINT [FK_EventOutcomes_Event] FOREIGN KEY([EventID])
REFERENCES [dbo].[Events] ([EventID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[EventOutcomes] CHECK CONSTRAINT [FK_EventOutcomes_Event]
GO
ALTER TABLE [dbo].[Events]  WITH CHECK ADD  CONSTRAINT [FK_Events_Categories] FOREIGN KEY([CategoryID])
REFERENCES [dbo].[Categories] ([CategoryID])
GO
ALTER TABLE [dbo].[Events] CHECK CONSTRAINT [FK_Events_Categories]
GO
ALTER TABLE [dbo].[Events]  WITH CHECK ADD  CONSTRAINT [FK_Events_Users] FOREIGN KEY([CreatorUserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Events] CHECK CONSTRAINT [FK_Events_Users]
GO
ALTER TABLE [dbo].[News]  WITH CHECK ADD  CONSTRAINT [FK_News_Author] FOREIGN KEY([AuthorUserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[News] CHECK CONSTRAINT [FK_News_Author]
GO
ALTER TABLE [dbo].[News]  WITH CHECK ADD  CONSTRAINT [FK_News_Category] FOREIGN KEY([CategoryID])
REFERENCES [dbo].[Categories] ([CategoryID])
GO
ALTER TABLE [dbo].[News] CHECK CONSTRAINT [FK_News_Category]
GO
ALTER TABLE [dbo].[News]  WITH CHECK ADD  CONSTRAINT [FK_News_Event] FOREIGN KEY([RelatedEventID])
REFERENCES [dbo].[Events] ([EventID])
GO
ALTER TABLE [dbo].[News] CHECK CONSTRAINT [FK_News_Event]
GO
ALTER TABLE [dbo].[NewsImages]  WITH CHECK ADD  CONSTRAINT [FK_NewsImages_News] FOREIGN KEY([NewsID])
REFERENCES [dbo].[News] ([NewsID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[NewsImages] CHECK CONSTRAINT [FK_NewsImages_News]
GO
ALTER TABLE [dbo].[Registrations]  WITH NOCHECK ADD  CONSTRAINT [FK_Registrations_Events] FOREIGN KEY([EventID])
REFERENCES [dbo].[Events] ([EventID])
GO
ALTER TABLE [dbo].[Registrations] CHECK CONSTRAINT [FK_Registrations_Events]
GO
ALTER TABLE [dbo].[Registrations]  WITH NOCHECK ADD  CONSTRAINT [FK_Registrations_Users] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Registrations] CHECK CONSTRAINT [FK_Registrations_Users]
GO
USE [master]
GO
